.AHPbar {
    margin-left: 35px;
    /* padding: 30px; */
  }
  .container {
    height: 20px;
    width: 240px;
    position: relative;
    display: flex;
    border: 1px solid gray;
  }
  .item {
    flex: 1;
    height: 100%; 
    /* border: 1px solid gray; */
  }
  /* .rndlg {
    border: 2px solid red;
    background: greenyellow;
  }
  .rnddg {
    border: 2px solid red;
    background: rgb(100, 150, 26);
  }
  .rndgr {
    border: 2px solid red;
    background: rgb(58, 58, 58);
  } */